.dt0{
    width:5%;
}

.dt1{
    width:5%;
}

.dt2{
    width:50%;
}

.dt3{
    width:10%;
}

.dt4{
    width:10%;
}

.dt5{
    width:10%;
}

.dt6{
    width:5%;
}

.dt7{
    width:5%;
}

.dl0{
    width:10%;
}

.dl1{
    width:20%;
}

.dl2{
    width:15%;
}

.dl3{
    width:55%;
}