.dt0{
    width:5%;
}

.dt1{
    width:5%;
}

.dt2{
    width:80%;
}

.dt3{
    width:5%;
}

.dt4{
    width:5%;
}

#modal{
    display:none;
}

.dtp0{
    width:5%;
}

.dtp1{
    width:5%;
}

.dtp2{
    width:85%;
}

.dtp3{
    width:5%;
}

.dtla0{
    width:60%;
}

.dtla1{
    width:15%;
}

.dtla2{
    width:5%;
}

.dtla3{
    width:5%;
}

.dtla4{
    width:5%;
}
