.dt0{
    width:5%;
}

.dt1{
    width:5%;
}

.dt2{
    width:30%;
}

.dt3{
    width:30%;
}

.dt4-1{
    width:30%;
}

.dt4-2{
    width:25%;
}

.dt5{
    width:5%;
}

#chiavi{
    text-transform:uppercase;
}