
body{
    font-family:"Raleway", sans-serif;
    font-size:14px;
    line-height:1.42857143;
    color:#3a3a3a;
    background-color:#fff;
    background-repeat:no-repeat; }

.title{
    margin-top:10%; }

.title p{
    color:white;
    font-size:40px;
    letter-spacing:2px; }

.form{
    border-radius:4px; }

.form form{
    margin-top:30px;
    margin-bottom:30px; }

.form form input{
    box-shadow:none; }

.form form button{
    background:#f8b201;
    background:-webkit-gradient(left top, right top, color-stop(0%, #f8b201), color-stop(100%, #f39a00));
    background:-webkit-linear-gradient(left, #f8b201 0%, #f39a00 100%);
    background:linear-gradient(to right, #f8b201 0%, #f39a00 100%);
    box-shadow:none;
    height:46px;
    font-size:22px;
    letter-spacing:2px; }

.form.offli{
    background-image:url(/images/form.png);
    background-size:cover;
    max-width:850px;
    padding:55px;
    padding-bottom:55px; }

.form.offli p{
    font-size:37px;
    color:white;
    letter-spacing:2px; }

.form.offli hr{
    width:273px;
    margin-bottom:30px; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline:none; }

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
    background:#f8b201;
    background:-webkit-gradient(left top, right top, color-stop(0%, #f8b201), color-stop(100%, #f39a00));
    background:-webkit-linear-gradient(left, #f8b201 0%, #f39a00 100%);
    background:linear-gradient(to right, #f8b201 0%, #f39a00 100%);
    box-shadow:none; }

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color:white;
    padding-top:20px;
    padding-bottom:20px; }

.footer p{
    margin-bottom:0;
    font-weight:600;
    letter-spacing:1px;
    margin-top:4px; }

.footer .info{
    margin-top:8px; }

@media (max-width:991px){
    .footer .info{
        margin-top:0; }

    .footer img{
        margin-top:15px; }
}

@media (max-width:670px){
    .form.offli{
        padding-left:15px;
        padding-right:15px; }

    .form.offli p{
        font-size:24px; }
}